*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
--salmao: #D95F69;
--azul-claro: #A7D0D9;
--azul-medio: #60B6BF;
--azul-escuro: #183847;
--quase-preto: #0D0D0D;
--branco-suave: #F2F3F4;

font-family: Arial, Helvetica, sans-serif;
--font-ps2p: 'Press Start 2P', cursive;
--font-bangers: 'Bangers', arial;
--font-orbitron: 'Orbitron', sans-serif;
}

body {
    background-color: var(--azul-medio);
}

#container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

header {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    background-color: var(--quase-preto);
}

header a {
    display: block;
    align-self: center;
    width: 12%;
    margin: 9px;
}

.logo-alura {
    width: 50%;
    padding: 2px;
}

header h1 {
    font-size: 1.3rem;
    color: var(--salmao);
    font-family: var(--font-ps2p);
    align-self: center;
    margin: 10px 0;
}

main {
    background-color: var(--azul-medio);
}

.texto-input {
    display: flex;
    flex-direction: column;
    padding: 3px 0px 0px 10px;
    font-family: var(--font-orbitron);
    font-size: 1rem;
    margin: 10px;
    width: 95%;
    height: 25vh;
    border: none;
    outline-color: var(--salmao);
    background-color: var(--branco-suave);
    word-wrap: break-word;
}

.texto-input::placeholder {
    text-align: center;
    line-height: 160px;
}

.regras-uso {
    margin: 5px;
    font-size: 0.5rem;
    font-weight: bold;
    align-items: center;
}

.regras-uso span {
    margin-right: 4px;
}

.exclamacao {
    color: var(--azul-claro);
    background-color: var(--quase-preto);
    font-family: var(--font-ps2p);
    font-size: 0.4rem;
    align-items: center;
    font-weight: bold;
    border-radius: 50%;
    padding: 0.2rem;
}

button {    
    font-size: 1rem;
    border-radius: 10px;
    font-family: var(--font-bangers);
    padding: 10px 45px;
    outline-color: var(--salmao);
}

.botoes-input{
    display: flex;
    justify-content: space-around;
    font-size: 1rem;
}

.btn-criptografar {
    color: var(--quase-preto);
    background-color: var(--salmao);
}

.btn-descriptografar {
    color: var(--quase-preto);
    background-color: var(--azul-claro);
}

.box-output {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30vh;
    display: flex;
    font-size: 0.7rem;
}

.btn-copiar {
    margin-bottom: 5px;
    background-color: var(--azul-escuro);
    color: var(--azul-claro);
}

.texto-output {
    display: none;
    flex-direction: column;
    width: 98%;
    border: none;
    height: 25vh;
    background-color: var(--azul-medio);
}   

.text-area-output {
    padding: 3px 0px 0px 10px;
    font-family: var(--font-orbitron);
    font-size: 1.5rem;
    border: none;
    background-color: var(--branco-suave);
    outline-color: var(--salmao);
    word-wrap: normal;
}

.no-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    background-color: var(--branco-suave);
}

.no-message img {
    display: block;
    width: 45%;
    margin: 10px;
}

footer {
    background-color: var(--quase-preto);
    color: var(--azul-claro);
    text-align: center;
    padding: 15px;
}

footer img {
    margin: 10px;
    width: 10%;
}

a {
    color: var(--salmao);
    outline-color: var(--salmao);
}

a:visited {
    color: var(--azul-medio);
}

/* Config Tablets */
@media screen and (min-width: 768px) {
    .logo-alura {
        width: 40%;
    }

    header h1 {
        font-size: 2.8rem;
    }

    .texto-input {
        font-size: 1.5rem;
        width: 97.5%;
    }

    .texto-input::placeholder {
        text-align: center;
        line-height: 250px;
    }

    .regras-uso {
        font-size: 0.9rem;
        margin-left: 10px;
    }
    
    .exclamacao {
        font-size: 0.5rem;
    }
    
    button {
        font-size: 2rem;
        padding: 20px 95px;
    }

    .texto-output {
        margin-top: 25px;
        background-color: var(--azul-medio);
    }

    .no-message img {
        width: 35%;
    }
}   

/* Config PC's */
@media screen and (min-width: 940px) {
    body {
        background-color: var(--azul-escuro);
    }

    #container {
        width: 70%;
        background-color: var(--azul-medio);
    }

    header {
        margin-bottom: 30px;
    }
    
    .logo-alura {
        width: 30%;
    }

    main {
        display: flex;
        flex-direction: row;
    }

    .input {
        width: 89%;
        margin-left: 20px;
    }

    .texto-input {
        flex-direction: row;
        width: 89%;
        margin-left: 0px;
        height: 50vh;
        border-radius: 5px;
    }

    .texto-input::placeholder {
        text-align: center;
        line-height: 285px;
    }
    
    button {
        padding: 20px 68px;
        font-size: 1.5rem;
    }

    .regras-uso {
        margin: 5px 5px 5px 0px;
        font-size: 0.77rem;
        font-weight: bold;
        align-items: center;
    }

    button:hover {
        cursor: pointer;
        transform: scale(1.05);
    }
    
    .botoes-input {
        width: 89%;
        justify-content: space-between;
    }
    
    .box-output {
        flex-direction: row;
        width: 30%;
        margin-right: 20px;
        height: 70vh;
    }
    
    .texto-output {
        height: 70vh;
        outline-style: none;
        margin: 0px;
        border: none;
    }
    
    .text-area-output {
        border-radius: 5px;
        margin-top: 10px;
        border: none;
        height: 50vh;
    }
    
    .no-message {
        width: 276.335px;
        font-size: 1rem;
        line-height: 1.3rem;
        text-align: center;
        border-radius: 5px;
        margin-top: 0px;
        margin-right: 0px;
        height: 65vh;
    }
    
    .no-message img {
        width: 95%;
    }

    .btn-copiar {
        order: 1;
        width: 100%;
        margin-top: 30px;
        margin-bottom: 0px;
    }

    footer {
        margin-top: 30px;
    }

    footer img {
        width: 5%;
    }
}